extends layout

block scripts

block content

	div(class='text-center')
		h1 Connect with a friend:

	div(class='form-group')
		label(for='friend') Start typing a friend's name, email address or phone number:
		input(type='text', class='form-control', id='friend', name='friend', placeholder='Start typing...')
		
	div
		p Or select from your recent connections:
		div
			p No recent connections
			ul
				li friend one
				li friend two
		
