extends layout

block scripts

block content

	div(class='text-center')
		h1 Welcome to ONEE!

		h4 ONEE helps women help women: have your girlfriend's back without intruding.

	div
		form(id='signin', action='/signin', method='POST')
			h3 Sign in:
			div(class='form-group')
				label(for='email') Enter your email address:
				input(type='text', id='email', class='form-control', name='email', placeholder='Email Address')
			div(class='form-group')
				label(for='pwd') Enter your password:
				input(type='password', id='pwd', class='form-control', name='pwd', placeholder='Password')
			button(class='btn btn-primary btn-block', type='submit', name='go') Sign In
	div(id='signup')
		p(class='text-center')
			a(href='/signup') Don't Have an Account? Sign Up